.AnswerButton{ 
  
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s, background-color .3s; 
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform, background-color;
    font-size: 1.5vw;
  }
  
  .AnswerButton:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .AnswerButton:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .AnswerButton:active {
    background-color: #4af9ff; 
    box-shadow: #e03ca1 0 3px 7px inset;
    transform: translateY(2px);
  }

  /* background-image: linear-gradient(#51A9EE, #147BCD);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  border-bottom-width: 1; 
  border-right-width: 1;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  margin-left: 0px 2px;
  min-width: 30px;
  overflow: visible;
  text-align: center;
  justify-content: center; 
  align-items: center;
  touch-action: manipulation; */





  /* direction: ltr; */
  /* align-self: auto;  */
   /* flex-direction: row; */
   /* padding: 10px 5px; */
  /* display: inline-flex; */
  /* flex-wrap: wrap; */

 /* vertical-align: baseline; */
 /* width:50%; */


.AnswerButton:disabled {
  cursor: default;
  opacity: .3;
}

/* .button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
} */